/*.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}
colores
#1C3952 azul oscuro (p, footer back ground )
#356481 azul petroleo (header backgound, letras footer, header a )
#DEE7FF celeste muy claro (letras header, fondos cajas)
#F2B279 naranjita (main a)
#F28F6B salmon (h1 e hijos)
*/

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700&family=Oswald:wght@200..700&display=swap');
*{
  margin: 0 auto;
  box-sizing: border-box;
  min-width: 0;
  max-width: 1200px;
  /* ;
  width: 100%;
   */
}
body{
  font-family: "Lato", sans-serif;
}
.lista {
  color: #1C3952;
  font-weight: 400;
  font-style: normal;
}
a {
  color:#DEE7FF;
  text-decoration: none ;
}
a:hover {
  color:#F2B279;
}
.boton:hover {
  color: #DEE7FF;
  background-color: #1C3952;
}
main a {
  color: #F2B279;
    font-weight: 400;
    font-style: normal;
}
main a:hover {
  color: #F28F6B;
}
h1{
  color: #F28F6B;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 3em;
    text-align: center;
}
h2{
  color: #F28F6B;
        font-weight: 700;
        font-style: normal;
        font-size: 1.8em;
        text-align: center;
}
h3{
  color: #F28F6B;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5em;
    text-align: center;
}
h4{
  color: #F28F6B;
    font-weight: 700;
    font-style: normal;
    font-size: 1.3em;
    text-align: center;
}
p{
  color: #1C3952;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 1em;
    padding: 0.3em;
    margin: 0.3em;
}
form{ 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #1C3952;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    padding: 1em;
}
.portada{
  display: block;
  width: 100%;
  align-content: center;
  padding: 1em;
}
input { 
  color: #1C3952;
  font-weight: 400;
  font-style: normal;
}
select { 
  color: #1C3952;
  font-weight: 400;
  font-style: normal;
}
.justify {
  text-align: justify;
}
.textoenazul {
  color: #356481;
  text-align: center;
}
.tarjetas .img {
  width: 95%;
  padding: 0.5em;
}
.servicios {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 80%;
  border: solid 1px #356481;
  margin-top: 1em;
}
.servicios .servicio-texto {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1em;
}
.servicios .servicio-imagen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5em;
  width: 110%;
}
.equipo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: #DEE7FF;
  width: 400px;
  height: 650px;
  border: 1px #DEE7FF;
  padding: 1em 1em 1em 1em;
  margin: 0.5em;
}
.promociones {
  display: flex;
  flex-direction: column;
  border: solid 1px #356481;
  padding: 2em;
  margin: 2em;
}
.boton {
display: inline;
background-color: #F28F6B;
color: white;
margin: 5em;
padding: 4px 6px 4px 6px;
} 
footer{
  display: block;
  background-color: #1C3952;
  margin-top: 2em;
}
footer p{
  color: #356481;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  padding: 1em;
}
svg {
  display: inline;
  color: #356481;
}
.footersvg{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: stretch;
  padding: 1em;
}
iframe{
  display: block;
  width: 100%;
  padding: 1em;
}
/* mobile */
@media screen and (min-width: 320px) and (max-width:767px){
  .logo{
    flex-direction: row;
    display: flex;
    justify-content: center ;
    width: 50%;
    padding-top: 7em;
  }
  body {font-size: 80%};
  .tarjetas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1em;
  }
  .recomendaciones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    padding: 1.5em;
    margin-top: 2em;
    border: solid 1px #356481 ;
    }
    .sinborde {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 150px;
      padding: 1em;
    }
  h1{
    margin: 2em;
  }
  h3 {
    margin: 1em;
  }
  .grid-layout aside {
    display: none;
  }
  .grid-layout{
    display: grid;
    grid-template-columns: 320px;
    grid-template-rows: 200px 700px 400px 700px 400px;
    grid-template-areas: 
      "titulo"
      "promo1"
      "promo2"
      "promo3" 
      "promo4";
    column-gap: 1em;
    row-gap: 1em;
    width: 100%;
    margin: 1em;
  }
  .grid-layout h1 {
    grid-area: titulo;
  }
  .grid-layout .promo1 {
    grid-area: promo1;
  }
  .grid-layout .promo2 {
    grid-area: promo2;
  }
  .grid-layout .promo3 {
    grid-area: promo3;
  }
  .grid-layout .promo4 {
    grid-area: promo4;
  }
.menudesktop {
display: none;
}
header{
  display: block;
  position: fixed;
  background-color:#1C3952;
  text-align: center;
  width: 100%;
  top: 0em;
  padding: 1em;
  height: 5em;
}
header ul {
  display: inline;
  background-color: #1C3952;
}
header ul li{
  display: inline;
  color: #DEE7FF;
  font-weight: 400;
  font-style: normal;
  list-style-type: none ;
  text-decoration: none ;
  padding-left: 1.5em;
  padding-right: 1.5em;
  background-color: #1C3952;
}
.nav-link {
  color: #DEE7FF;
}
}
/* tablet */
@media screen and (min-width: 768px) and (max-width:1023px){
  .logo{
    flex-direction: row;
    display: flex;
    justify-content: center ;
    width: 40%;
    padding-top: 5em;
  }
  body{font-size: 90%}
  .tarjetas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .recomendaciones {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 1.5em;
    margin: 1em;
    border: solid 1px #356481 ;
    }
  .sinborde {
      display: flex;
      flex-direction: column;
      width: 370px;
      height: 150px;
      padding: 1em;
      margin: 1em 1em 5em 1em;
    }
  h1 {
    margin: 2em 2em 1em 2em;
  }
  h3 {
    margin: 1em;
  }
  .grid-layout aside{
    display: none;
  }
  .grid-layout{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 700px 700px ;
    grid-template-areas: 
      "titulo titulo"
      "promo1 promo2"
      "promo3 promo4";
    column-gap: 1em;
    row-gap: 1em;
    width: 100%;
    margin: 1em;
  }
  .grid-layout h1 {
    grid-area: titulo;
  }
  .grid-layout .promo1 {
    grid-area: promo1;
  }
  .grid-layout .promo2 {
    grid-area: promo2;
  }
  .grid-layout .promo3 {
    grid-area: promo3;
  }
  .grid-layout .promo4 {
    grid-area: promo4;
  }
  .menumobile {
    display: none;
  }
header{
  display: block;
  position: fixed;
  background-color:#1C3952;
  text-align: center;
  width: 100%;
  top: 0em;
  padding: 1em;
}
header ul {
  display: inline;
}
header ul li {
  display: inline;
  color: #356481;
  font-weight: 400;
  font-style: normal;
  list-style-type: none ;
  text-decoration: none ;
  padding-left: 1.5em;
  padding-right: 1.5em;
}
}
/* desktop */
@media screen and (min-width: 1024px){
  .logo{
    flex-direction: row;
    display: flex;
    justify-content: center ;
    width: 40%;
    padding-top: 5em;
  }
  .tarjetas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .recomendaciones {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 1.5em;
    margin: 2em;
    border: solid 1px #356481 ;
    }
  .sinborde {
      display: flex;
      flex-direction: column;
      width: 370px;
      height: 150px;
      padding: 1em;
      margin: 2em;
    }
  h1 {
    margin-top: 2em;
    margin-bottom: 2em;
  }
  h3 {
    margin: 1em;
  }
  .grid-layout{
    display: grid;
    grid-template-columns: 3fr 3fr 2fr;
    grid-template-rows: 200px 500px 500px;
    grid-template-areas: 
      "titulo titulo titulo"
      "promo1 promo2 aside"
      "promo3 promo4 aside";
    column-gap: 1em;
    row-gap: 1em;
    width: 100%;
    margin: 1em;
  }
  .grid-layout h1 {
    grid-area: titulo;
    margin: 2em 2em 0em 2em;
  }
  .grid-layout .promo1 {
    grid-area: promo1;
  }
  .grid-layout .promo2 {
    grid-area: promo2;
  }
  .grid-layout .promo3 {
    grid-area: promo3;
  }
  .grid-layout .promo4 {
    grid-area: promo4;
  }
  .grid-layout aside {
    grid-area: aside;
  }
.grid-layout aside img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 900px;
}
.menumobile{
  display: none;
}
header{
  display: block;
  position: fixed;
  background-color:#1C3952;
  text-align: center;
  width: 100%;
  top: 0em;
  padding: 1em;
}
header ul {
  display: inline;
}
header ul li {
  display: inline;
  color: #356481;
  font-weight: 400;
  font-style: normal;
  list-style-type: none ;
  text-decoration: none ;
  padding-left: 1.5em;
  padding-right: 1.5em;
}
}
