@media screen and (min-width: 768px) and (max-width:1023px){
body {
    font-size: 90%;
    header{
        display: block;
        position: fixed;
        background-color: $background-dark;
        text-align: center;
        width: 100%;
        top: 0em;
        padding: 1em;
        margin-bottom: 2em;
        .menumobile{
            display: none;
            }
        ul{
            display: inline;
            li{
                display: inline;
                color: $azulclaro;
                font-weight: 400;
                font-style: normal;
                list-style-type: none ;
                text-decoration: none ;
                padding-left: 1.5em;
                padding-right: 1.5em;
            }
        }
    }
    main {
        .carruselmobile {
        display: none;
        }
        .logo {
        flex-direction: row;
        display: flex;
        justify-content: center ;
        width: 40%;
        padding-top: 5em;
        margin-bottom: -2em;
        }
        h1{
        margin: 2em 3em 1.5em 3em;
        }
        h3{
        margin: 1em;
        }
        .serviciosdesktop {
            display: none;
        }
        .serviciosmobile {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            article {
                display: flex;
                flex-direction: column;
                justify-content: start;
                width: 350px;
                margin-top: 1em;
                border: solid 1px $azuloscuro;
            h2{
                padding: 1em;
            }
            p{
                text-align: justify;
                margin: 1em;
            }
            img {
                width: 90%;
                margin-bottom: 1em;
            }
            }
        }
        .tarjetas {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
            .recomendaciones {
            display: flex;
            flex-direction: column;
            width: 25%;
            padding: 1.5em;
            margin: 1em;
            border: solid 1px $azulclaro ;
            }
            .sinborde {
            display: flex;
            flex-direction: column;
            width: 370px;
            height: 150px;
            padding: 1em;
            margin: 1em 1em 5em 1em;
            }
            .equipo {
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: center;
                background-color: $background-light;
                width: 300px;
                height: 550px;
                border: 1px $celeste;
                padding: 0.5em;
                margin: 0.5em;
                h3 {
                    margin: 1em;
                }
                h4 {
                    margin: 0em 1em 1em 1em;
                }
                .img {
                    width: 95%;
                    padding: 0.5em;
                }
            }
        }
        aside{
            display: none;
            }
        }
        .grid-layout{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 
                "titulo titulo"
                "promo1 promo2"
                "promo3 promo4";
                h1 {
                grid-area: titulo;
                }
                .promo1 {
                grid-area: promo1;
                }
                .promo2 {
                grid-area: promo2;
                }
                .promo3 {
                grid-area: promo3;
                }
                .promo4 {
                grid-area: promo4;
                }
        }
    }
}